


/*********** liens ***********/
    .lien:hover{
        background-color: rgb(241, 241, 241);
        color: black;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 2px  rgb(27, 27, 27);
    }

    .w-18em{
        width: 18em;
    }

    .imgSize{
        width: 200px;
        height: 180px;
    }


/* .card{
    border: none !important;
} */

.pxNeg{
    padding-left: -2em !important;
    padding-right: -2em !important;
}



