/*********** general ***********/  
    body{
        --grisNavbar:#343B3E;
        font-family: 'verdana', 'Halant', 'arial' !important;
        font-size: 0.7em;


        --noir:#111111;
        --noirClair:#1A1814;
        --dore:#CDA45E;




    }

/*********** margin sous navbar ***********/
    .affichage{
        margin-top: 9em;
    }

/*********** Page contact ***********/
    .contact{
        font-weight: bold ;
        font-size: 3em;
        text-align: center;
    }
    
    .contact > .contactTitre{
        font-family: Arial;
    }

    .contact .sousContactTitre{
        font-family: 'Courier New';
    }

    .hidden{
        display: none;
    }
